{% extends "base.html" %}

{% block content %}
    {% load humanize %}
    <div class="panel">
        <div class="panel-header">
            <h1>Brands(Total: {{ total_count|intcomma }})</h1>
        </div>
        <!--/.panel-header-->

        <div class="panel-body padTopNone">
            <table class="table table-bordered table-striped">
            	<thead>
            		<tr>
            			<th style="width: 60px;">#</th>
            			<th>Eng Name</th>
                        <th>Kor Name</th>
                        <th>Orginal Name</th>
            			<th style="width: 120px;">Count</th>
            		</tr>
            	</thead>
            	<tbody>
                    {% for brand in brand_list %}
                        <tr>
                            <td class="text-center">{{ brand.idx }}</td>
                            <td>{{ brand.name }}</td>
                            <td>{{ brand.name_ko }}</td>
                            <td>{{ brand.name_ori }}</td>
                            <td class="text-center">
                                <a href="/products?brand_idx={{ brand.idx }}">
                                    {{ brand.product_counter }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
            	</tbody>
            </table>
        </div>
        <!--/.panel-body-->

        <div class="panel-block text-center">
            <ul class="pagination">
                {% for p in pagination %}
                    {% if current_page == p %}
                        <li class="active">
                            <a href="/brands?page={{ p }}">
                                {{ p }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/brands?page={{ p }}">
                                {{ p }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--/.panel-->

{% endblock %}
