{% extends "base.html" %}

{% block content %}
    {% load humanize %}
    <div class="panel">
        <div class="panel-header">
            <h1>Brands</h1>

            <div class="pull-right">
                Total: {{ total_count|intcomma }}
            </div>
            <!--/.pull-right-->
        </div>
        <!--/.panel-header-->

        <div class="panel-body padTopNone">
            <table class="table table-bordered table-striped">
            	<thead>
            		<tr>
            			<th style="width: 60px;">#</th>
            			<th>Name</th>
            			<th style="width: 120px;">Count</th>
            		</tr>
            	</thead>
            	<tbody>
                    {% for brand in brand_list %}
                        <tr>
                            <td class="text-center">{{ brand.idx }}</td>
                            <td>{{ brand.name }}</td>
                            <td class="text-center">0</td>
                        </tr>
                    {% endfor %}
            	</tbody>
            </table>
        </div>
        <!--/.panel-body-->

        <div class="panel-block text-center">
            <ul class="pagination">
                {% for p in pagination %}
                    {% if current_page == p %}
                        <li class="active">
                            <a href="/brands?page={{ p }}">
                                {{ p }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/brands?page={{ p }}">
                                {{ p }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--/.panel-->

{% endblock %}
