{% extends "base.html" %}

{% block content %}

    <div class="panel">
        <div class="panel-header">
            <h1>Colors</h1>
        </div>
        <!--/.panel-header-->

        <div class="panel-body padTopNone">
            <table class="table table-bordered table-striped">
            	<thead>
            		<tr>
            			<th style="width: 60px;">#</th>
            			<th>Name</th>
            			<th style="width: 120px;">Count</th>
            		</tr>
            	</thead>
            	<tbody>
                    {% for color in color_list %}
                        <tr>
                            <td class="text-center">{{ color.idx }}</td>
                            <td>{{ color.name }}</td>
                            <td class="text-center">0</td>
                        </tr>
                    {% endfor %}
            	</tbody>
            </table>
        </div>
        <!--/.panel-body-->
    </div>
    <!--/.panel-->

{% endblock %}
