{% extends "base.html" %}

{% block content %}
    {% load humanize %}
    <div class="panel">
        <div class="panel-header">
            <h1>Products (Total: {{ total_count|intcomma }})</h1>

            <form class="panel-options input-inline" method="GET" action="/products">
                <input type="text" class="input" placeholder="Search Name" name="search_name" value="{{ search_name }}"/>
                <input type="text" class="input" placeholder="Search Original Name" name="search_name_ori" value="{{ search_name_ori }}"/>
                <label class="input" style="padding: 1px 6px; cursor: pointer;">
                    <input type="checkbox" value="1" style="vertical-align: middle;" name="hide_orgi_name" {% if hide_orgi_name == '1' %} checked {% endif %} />
                    Hide-Orig-Name
                </label>
                <label class="input" style="padding: 1px 6px; cursor: pointer;">
                    <input type="checkbox" value="1" style="vertical-align: middle;" name="ml_exclude_price" {% if ml_exclude_price == '1' %} checked {% endif %} />
                    Exclude-Price
                </label>
                <label class="input" style="padding: 1px 6px; cursor: pointer;">
                    <input type="checkbox" value="1" style="vertical-align: middle;" name="ml_exclude_lang" {% if ml_exclude_lang == '1' %} checked {% endif %} />
                    Exclude-Lang
                </label>
                <input type="submit" class="btn btn-success" value="Search/Filter" />
			</form>
        </div>
        <!--/.panel-header-->

        <div class="panel-body padTopNone">
            <table class="table table-bordered table-striped">
            	<thead>
            		<tr>
            			<th style="width: 65px;">#</th>
                        <th></th>
                        <th>Processed Name<br />Original Name</th>
                        <th style="width: 140px;">Category</th>
                        <th style="width: 140px;">Brand</th>
            			<th style="width: 110px;">Price</th>
                        <th style="width: 110px;">Code</th>
            			<th style="width: 80px;">Exclude</th>
            		</tr>
            	</thead>
            	<tbody>
                    {% for product in product_list %}
                		<tr>
                			<td class="text-center">{{ product.idx|intcomma }}</td>
                            <td class="img-sm" style="height: 70px;">
                                <a href="/public/images/{{ product.image.filename }}" data-idx="{{ product.image.idx }}" target="_blank">
                                    <img src="/public/images/{{ product.image.filename }}">
                                </a>
                            </td>
                			<td>
                                <a href="/products/{{ product.idx }}">
                                    <b>{{ product.name }}</b>
                                    {% if  hide_orgi_name == '1' %}
                                    {% else %}
                                        <br>
                                        {{ product.name_ori }}
                                    {% endif %}
                                </a>
                            </td>
                            <td class="text-center">
                                {{ product.category_1.name }}
                            </td>
                            <td class="text-center">
                                {{ product.brand.name_ko }}
                            </td>
                            <td class="text-center">
                                {{ product.price|intcomma }} 원
                            </td>
                            <td class="text-center">
                                {{ product.product_id }}
                            </td>
                			<td class="text-center">
                                {% if product.ml_exclude_price == 1 %}
                                    <span class="label label-danger">Price</span>
                                {% endif %}
                                {% if product.ml_exclude_lang == 1 %}
                                    <span class="label label-danger">Lang</span>
                                {% endif %}
                            </td>
                		</tr>
                    {% endfor %}

                    {% if product_list|length == 0 %}
                        <tr>
                            <td colspan="8" class="text-center">
                                Table is currently empty
                            </td>
                        </tr>
                    {% endif %}
            	</tbody>
            </table>
        </div>
        <!--/.panel-body-->

        <div class="panel-block text-center">
            <ul class="pagination">
                {% for p in pagination %}
                    {% if current_page == p %}
                        <li class="active">
                            <a href="#">
                                {{ p }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/products?page={{ p }}&{% if category_idx %}category_idx={{category_idx}}&{% endif %}{% if level %}level={{level}}&{% endif %}{% if brand_idx %}brand_idx={{brand_idx}}&{% endif %}{% if search_name_ori != '' %}search_name={{search_name_ori|urlencode}}&{% endif %}{% if search_name != '' %}search_name={{search_name|urlencode}}&{% endif %}{% if hide_orgi_name == '1' %}hide_orgi_name=1&{% endif %}{% if ml_exclude_price == '1' %}ml_exclude_price=1&{% endif %}{% if ml_exclude_lang == '1' %}ml_exclude_lang=1&{% endif %}">
                                {{ p }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--/.panel-->

    <style> .container { width: 1400px; } </style>
{% endblock %}
