<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Page Encoding -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="UTF-8"/>

        <!-- Page Meta Data-->
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="author" content="Phil Goo Kang"/>
        <meta name="copyright" content="Copyrights © Phil Goo Kang  All Rights Reserved" />

        <!-- IE Condition Where Breaking CSS -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- Mobile first -->
		<meta name="viewport" content="width=1000"/>

        <!-- Page Title -->
        <title>{% block title %}Automated Fashion Title Generator{% endblock %}</title>

        <!-- CSS -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/reset.css" type="text/css"/>
		<link rel="stylesheet" href="/public/css/admin_d.css" type="text/css"/>
		<style>html, body {font-family: 'Roboto',sans-serif;}</style>
	</head>
    <body>
		<div class="head">
			<div class="container">
				<div class="row">
					<div class="logo" style="font-size: 22px; font-weight: 900;">
						Automatic Fashion Title Generator
					</div>
					<!--/.logo-->
				</div>
				<!--/.row-->

				<div class="navigation">
					<ul>
						<li><a href="/products" style="padding-top: 0px;">Products</a></li>
						<li><a href="/images/tile" style="padding-top: 0px;">Images - Tile</a></li>
						<li><a href="/brands" style="padding-top: 0px;">Brands</a></li>
						<li><a href="/categories" style="padding-top: 0px;">Categories</a></li>
						<li><a href="/colors" style="padding-top: 0px;">Colors</a></li>
						<li><a href="/issue" style="padding-top: 0px;">Issue</a></li>
					</ul>
				</div>
			</div>
			<!--/.container-->
		</div>

		<div class="body">
			<div class="container">
				{% block content %} {% endblock %}
            </div>
            <!--/.container-->
        </div>
		<!--/.body-->
    </body>
</html>
