<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Page Encoding -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="UTF-8"/>

        <!-- Page Meta Data-->
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="author" content="Phil Goo Kang"/>
        <meta name="copyright" content="Copyrights © Phil Goo Kang  All Rights Reserved" />

        <!-- IE Condition Where Breaking CSS -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- Mobile first -->
		<meta name="viewport" content="width=1000"/>

        <!-- Page Title -->
        <title>{% block title %}My amazing site{% endblock %}</title>

        <!-- CSS -->

	</head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
